h1.center{
    text-align: center;
}
form{
    width: 25%;
    margin: 0 auto;

}
fieldset{
    border-radius: 7px;
}
.ancho{
    width: 100%;
}
.bordes{
    border-radius: 7px;
    border: solid 2px gray;
    padding: 5px;
}
