*{
padding: 0%;
margin: 0%;
}

#nav-bar{
   
    display: inline-block;   
}

li{
    font-size: 1.5em;
    color: white;
    list-style: none;
    padding: 15px;
    margin-bottom: 10px;
    background: blueviolet;   
}

ul{
   margin-top: 40px;
    margin: 15px;
    font-size: 1,5em;
    width: 270px;  
}
a{
    text-decoration: none ;
    color: white;
    padding: 15px;
}

li:hover{
   background-color:rgb(110, 33, 226);
   font-size: 1.1em;
}