h1, h2{
    text-align: center;
}
img{
    margin: 0 auto 0 auto;
    display: block;
}
p{
    
    text-align: center;
    font-family:  'cinzel', cursive;
}
h2.font-cinzel {
   font-family:  'Akaya Telivigala', cursive;
  
}
h2.fonts-rocknroll{
font-family: 'rocknroll-one', Arial, Helvetica, sans-serif;
font-size: 3em;
}
.fuente-roboto{
    font-family:'Roboto', sans-serif;
    font-size:  4em;
}
.fuente-negrita{
    font-weight: bold;

}
.fuente-italica{
    font-size: 32pt;
    font-style: italic;
}
span.resaltado{
    font-size: 3em;
    color: crimson;
    font-weight: bold;
    font-family: 'roboto', serif;
    
}
.fuente-cotizar{
    color: darkblue;
    font-size: medium;
    text-align: center;
}

/* rocknroll-one-regular - latin */
@font-face {
    font-family: 'RocknRoll One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rocknroll-one-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rocknroll-one-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rocknroll-one-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rocknroll-one-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rocknroll-one-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rocknroll-one-v1-latin-regular.svg#RocknRollOne') format('svg'); /* Legacy iOS */
  }
  div.contenedoer-9, div.contenedoer-10, div.contenedoer-11, div.contenedoer-12{
      margin-left: 8px;
      border-radius: 3%;
      width: 100px;
      padding: 3 em;
      display: inline-block;

  }
  div.contenedoer-9{
    color: black;
    background:plum;
    border: 10px solid rgb(165, 173, 173);
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 5em; 
 
 }
 div.contenedoer-10{
     color: black;
     background:plum;
     border: 10px solid rgb(165, 173, 173);  
     margin-top: 0.2em;
     margin-bottom: 0.2em;
     margin-right: 5em;
    
 }
 div.contenedoer-11{
     color: black;
     background:plum;
     border: 10px solid rgb(165, 173, 173);   
     margin-top: 0.2em;
     margin-bottom: 0.2em;
     margin-right: 5em;
    
  }
  div.contenedoer-12{
     color: black;
     background:plum;
     border: 10px solid rgb(165, 173, 173);
     margin-top: 0.2em;
     margin-bottom: 0.2em;
     margin-right: 0.2em;
    
  }
  span.descuento{
    font-size: 3em;
    color:rgb(165, 173, 173);
    font-weight: bold;
    font-family: 'roboto', serif; 
  }
  img{
      display: block;
      margin: 20px auto;
      width: 200px;
      padding: 3 em;

  }
 
  p.img-tar{
    text-align: center;
    color:rgb(165, 173, 173);
    font-size: 25px;
    font-style: normal;
    line-height:0.2em ;
} 
  

  .box-cont1{
   background: rgb(184, 34, 96);
   width: 400px;
   height: 350px;
   display: inline-block;
  
 

  }
  .box-cont2{
    background: rgb(184, 34, 96);
    width: 400px;
    height: 350px;
    display: inline-block;
   
  
 
   }

  .box-cont3{
      background: darkorchid;
      width: 400px;
    height: 350px;
    display: inline-block;
   

  }

  .box-cont4{
      background: darkslateblue;
      width: 400px;
      height: 350px;
      display: inline-block;
      

  }

  .box-cont5{
      background: firebrick;
      width: 400px;
    height: 350px;
    display: inline-block;
    

  }
  p{
      font-size: 1.8 em;
      text-align: center;

  }

   
  div.main-conter{
      display: inline-block;
      margin: 20px auto;

  }
 